body{
    background-image: url(../assets/background.jpg);
    background-size: cover;
    font-family: sans-serif;
    max-width: 1400px;
    margin: 0 auto;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    /* background-color: blueviolet; */
}
img{
    width: 115px;
    height: 12px;
    /* background-color: blue; */
}
li {
    display: inline;
    /* padding: 10px 20px; */
}
.li-first-nav{
    padding: 10px 20px;
}
a{
    text-decoration: none;
    color: black;
}
main{
    /* background-color: red; */
    text-align: center;
}
#title{
    margin-top: 80px;
    line-height: 10px;
}

h1{
    font-size: 40px;
}

/* #buttons{
    position: relative;
    top: 350px;
} */
#buttons{
    margin-top: 340px;
    /* background-color: blueviolet; */
}
button{
    margin: 10px;
    padding: 12px 94px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 500ms;
}
#btn-black{
    color: white;
    background-color: rgb(56, 56, 56);
}
.li-show-nav{
    display: none;
}
.icons{
    width: 22px;
    height: 22px;
    margin-left: 15px;
    /* margin-right: 5px; */
    margin-top: 5px;
}
